<mat-toolbar>
  <span>Pending Tasks</span>
</mat-toolbar>

 
        
    

<div class="cards-container">

 
    <mat-card>
        <mat-card-subtitle><strong>Ticket Number:</strong></mat-card-subtitle>
        <div>
            <span class="text-format"><strong>Assigned To:</strong> Robins</span>
            <span class="text-format"><strong>Assigned By:</strong> Ranjan</span>
        </div>
        <div>
            <span class="text-format"><strong>Priority:</strong> High</span>
            <span class="text-format"><strong>Assigned On:</strong> 23/24/11</span>
        </div>
    
        <div class="description-box">
            <p> <strong>description:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit culpa
                aperiam similique labore sapiente ullam temporibus nobis ipsa quae.
            </p>
        </div>
    
        <div class="buttons-container">
            <button mat-stroked-button class="cards-buttons action-buttons" color="primary">details</button>
            <button mat-stroked-button class="cards-buttons action-buttons" color="accent">update</button>
            <button mat-stroked-button class="cards-buttons action-buttons" color="warn">delete</button>
        </div>
    
    
    </mat-card>
    <mat-card>
        <mat-card-subtitle><strong>Ticket Number:</strong></mat-card-subtitle>
        <div>
            <span class="text-format"><strong>Assigned To:</strong> Robins</span>
            <span class="text-format"><strong>Assigned By:</strong> Ranjan</span>
        </div>
        <div>
            <span class="text-format"><strong>Priority:</strong> High</span>
            <span class="text-format"><strong>Assigned On:</strong> 23/24/11</span>
        </div>
    
        <div class="description-box">
            <p> <strong>description:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit culpa
                aperiam similique labore sapiente ullam temporibus nobis ipsa quae.
            </p>
        </div>
    
        <div class="buttons-container">
            <button mat-stroked-button class="cards-buttons action-buttons" color="primary">details</button>
            <button mat-stroked-button class="cards-buttons action-buttons" color="accent">update</button>
            <button mat-stroked-button class="cards-buttons action-buttons" color="warn">delete</button>
        </div>
    
    
    </mat-card>
    <mat-card>
        <mat-card-subtitle><strong>Ticket Number:</strong></mat-card-subtitle>
        <div>
            <span class="text-format"><strong>Assigned To:</strong> Robins</span>
            <span class="text-format"><strong>Assigned By:</strong> Ranjan</span>
        </div>
        <div>
            <span class="text-format"><strong>Priority:</strong> High</span>
            <span class="text-format"><strong>Assigned On:</strong> 23/24/11</span>
        </div>
    
        <div class="description-box">
            <p> <strong>description:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit culpa
                aperiam similique labore sapiente ullam temporibus nobis ipsa quae.
            </p>
        </div>
    
        <div class="buttons-container">
            <button mat-stroked-button class="cards-buttons action-buttons" color="primary">details</button>
            <button mat-stroked-button class="cards-buttons action-buttons" color="accent">update</button>
            <button mat-stroked-button class="cards-buttons action-buttons" color="warn">delete</button>
        </div>
    
    
    </mat-card>



    <mat-card class="mat-card-button">
        <button mat-raised-button class="add-button" (click)="openDialog()" >+</button>
    </mat-card>



</div>
