.mat-toolbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(233, 225, 225);
}

.cards-container{
display: flex;
flex-wrap: wrap;
gap: 10px;
/* border: 1px solid black; */
width: 100%;
 
}

.mat-card{
    /* border: 2px solid black; */

    display: inline-block;
    width: 380px;
    height: 250px;
    margin: 20px;
    
}

.high{
    box-shadow: 8px 7px rgb(215, 40, 69);
}

.medium{
    box-shadow: 8px 7px rgb(252, 255, 102);
}
.low{
    box-shadow: 8px 7px rgb(95, 240, 79) ;
}

.buttons-container{
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-evenly;
 
    width: 90%;
}

.text-format{
    padding: 10px;
    display: inline-block;
    width: 40%;
     
}

 

.action-buttons{
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    width: 80%;
}

.mat-card-button{
    display: flex;
    justify-content:center;
    align-items: center;
    /* border: 1px dotted black; */
}

.add-button
{
    font-size: 60px;
    font-weight: 100;
    display: flex;
    border: none;
}

::ng-deep snack-bar-container.custom-snackbar{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 40vh;
    left: 40vw;
    background-color: #151515;
    color: #EEF7FF;
}

/*  */
 