<mat-toolbar color="accent" class="head" >
    <span  class="header" >Jira Management</span>
    
    <div class="head-menu">
        
        <span class="menu" ><a [routerLink]="'/home'"  [routerLinkActive]="'active'"   [routerLinkActiveOptions]="{exact:true}">Home</a></span>
        <span  class="menu"> <a *ngIf="isloggedIn"  [routerLink]="'/dashboard'"  [routerLinkActive]="'active'"   [routerLinkActiveOptions]="{exact:true}">Dashboard</a></span>
        <span class="menu" ><a [routerLink]="'/login'"  [routerLinkActive]="'active'"  *ngIf="!isloggedIn"  [routerLinkActiveOptions]="{exact:true}"> Login</a></span>
        <span class="menu" ><a  *ngIf="isloggedIn"   (click)="OnLogout()">Logout</a></span>
</div>
</mat-toolbar>