<mat-toolbar color="accent" class="head" >
    <span  class="header" >Jira Management</span>
    
    <div class="head-menu">
        
        <span class="menu" ><a [routerLink]="'/home'"  [routerLinkActive]="'active'"   [routerLinkActiveOptions]="{exact:true}">Home</a></span>
        <span  class="menu"> <a  [routerLink]="'/dashboard'"  [routerLinkActive]="'active'"   [routerLinkActiveOptions]="{exact:true}">Dashboard</a></span>
        <span class="menu" ><a [routerLink]="'/login'"  [routerLinkActive]="'active'"   [routerLinkActiveOptions]="{exact:true}">Logout</a></span>
</div>
    
    
</mat-toolbar>