 <div class="container">
    <div class="heading-content">
        <h1> EMPLOYEE TASK MANAGEMENT </h1>
        <h3>Hi there this is <span>Robins Ranjan</span></h3>
        <p>I've developed a task management web app using Angular and Firebase. Angular Material improves user experience, enabling smooth interactions like logging in, creating, updating, viewing, and deleting tasks. Firebase handles authentication via JWT tokens, ensuring secure task operations and user permissions.
        </p>
    </div>
    <div class="image">
        <img src="../../../assets/images/angular.png" alt="">
    </div>
   
 </div>
 <div class="cards">
    <h1>See the Detail of the project</h1>
    <mat-card class="cards-details">
        <mat-card-subtitle>Angular 14.0</mat-card-subtitle>
        <mat-card-title>Angular Topics</mat-card-title>
        <mat-card-content>
          <p>In this project I have tried to utilize most of the features of the angular.</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          
          <mat-accordion>
    
            <mat-expansion-panel  >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Angular Topics
                  </mat-panel-title>
                  <mat-panel-description>
                    This is section contains the list of all the angular features that have been used here
                  </mat-panel-description>
                </mat-expansion-panel-header>
                 <ul>
                    <li>Angular</li>
                    <li>Reactive form</li>
                 </ul>
              </mat-expansion-panel>
        
            </mat-accordion>
        </mat-card-actions>
         
      </mat-card>
    <mat-card class="cards-details">
        <mat-card-subtitle>Angular 14.0</mat-card-subtitle>
        <mat-card-title>Firebase</mat-card-title>
        <mat-card-content>
          <p>Fire base is used to generate JWT tokens for the authentication and Authorization of the users before performing any tasks</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          
          <mat-accordion>
    
            <mat-expansion-panel  >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Angular Topics
                  </mat-panel-title>
                  <mat-panel-description>
                    This is section contains the list of all the angular features that have been used here
                  </mat-panel-description>
                </mat-expansion-panel-header>
                 <ul>
                    <li>Angular</li>
                    <li>Reactive form</li>
                 </ul>
              </mat-expansion-panel>
        
            </mat-accordion>
        </mat-card-actions>
         
      </mat-card>
    <mat-card class="cards-details">
        <mat-card-subtitle>Angular 14.0</mat-card-subtitle>
        <mat-card-title>Angular Material</mat-card-title>
        <mat-card-content>
          <p>Fire base is used to generate JWT tokens for the authentication and Authorization of the users before performing any tasks</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          
          <mat-accordion>
    
            <mat-expansion-panel  >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Angular Topics
                  </mat-panel-title>
                  <mat-panel-description>
                    This is section contains the list of all the angular features that have been used here
                  </mat-panel-description>
                </mat-expansion-panel-header>
                 <ul>
                    <li>Angular</li>
                    <li>Reactive form</li>
                 </ul>
              </mat-expansion-panel>
        
            </mat-accordion>
        </mat-card-actions>
         
      </mat-card>
 </div>

